# Copy values into the repo-root .env (gitignored). Do not commit secrets.
# Free Developer Edition key: https://rasa.com/rasa-pro-developer-edition-license-key-request/
RASA_LICENSE=
OPENAI_API_KEY=
